In [59]:
import pandas as pd
import numpy as np

In [82]:
TRAIN_CSV_PATH = "D:\\Coding_practice\\_Data\\SIIM-ISIC_data\\train.csv"
TEST_CSV_PATH = "D:\\Coding_practice\\_Data\\SIIM-ISIC_data\\test.csv"
TRAIN_ANALYSED_PATH = "D:\\Coding_practice\\_Data\\SIIM-ISIC_data\\train_analysed.csv"
train_data = pd.read_csv(TRAIN_CSV_PATH)
test_data = pd.read_csv(TEST_CSV_PATH)
train_analysed = pd.read_csv(TRAIN_ANALYSED_PATH)

In [60]:
def evaluate_mean_n_std(listClassesvalues):
    valueList = []
    [valueList.extend(data_per_class) for data_per_class in listClassesvalues]
    print(f"[DEBUG] {len(valueList)}")
    mean = np.mean(np.array(valueList))
    std = np.std(np.array(valueList))
    return mean, std
def get_standard_score(listClassesvalues, mean, std):
    dataReturn = []
    [dataReturn.append(((np.array(data_per_class) - mean) / std)) for data_per_class in listClassesvalues]
    return dataReturn

In [83]:
train_data

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,male,45.0,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,female,45.0,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,female,50.0,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,female,45.0,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,female,55.0,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,male,50.0,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,male,65.0,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,male,20.0,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,male,50.0,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,male,45.0,torso,nevus,benign,0

In [72]:
train_analysed

,image_name,patient_id,sex,age_approx,head/neck,lower extremity,oral/genital,palms/soles,torso,upper extremity,benign_malignant,target
0,ISIC_2637011,IP_7279968,1,-0.27,1,0,0,0,0,0,0,0
1,ISIC_0015719,IP_3075186,0,-0.27,0,0,0,0,0,1,0,0
2,ISIC_0052212,IP_2842074,0,0.08,0,1,0,0,0,0,0,0
3,ISIC_0068279,IP_6890425,0,-0.27,1,0,0,0,0,0,0,0
4,ISIC_0074268,IP_8723313,0,0.43,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,1,0.08,0,0,0,0,1,0,0,0
33122,ISIC_9999320,IP_3650745,1,1.12,0,0,0,0,1,0,0,0
33123,ISIC_9999515,IP_2026598,1,-2.01,0,1,0,0,0,0,0,0
33124,ISIC_9999666,IP_7702038,1,0.08,0,1,0,0,0,0,0,0
33125,ISIC_9999806,IP_0046310,1,-0.27,0,0,0,0,1,0,0,0

In [26]:
test_data

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge
0,ISIC_0052060,IP_3579794,male,70.0,NaN
1,ISIC_0052349,IP_7782715,male,40.0,lower extremity
2,ISIC_0058510,IP_7960270,female,55.0,torso
3,ISIC_0073313,IP_6375035,female,50.0,torso
4,ISIC_0073502,IP_0589375,female,45.0,lower extremity
...,...,...,...,...,...
10977,ISIC_9992485,IP_4152479,male,40.0,torso
10978,ISIC_9996992,IP_4890115,male,35.0,torso
10979,ISIC_9997917,IP_2852390,male,25.0,upper extremity
10980,ISIC_9998234,IP_8861963,male,65.0,lower extremity
10981,ISIC_9999302,IP_6214039,male,30.0,upper extremity

In [9]:
test_analysed = test_data.copy()

In [43]:
np.where(train_data['sex']==-1)

(array([   38,   384,   750,   829,  1687,  3189,  3615,  3868,  4043,
         4718,  4859,  6212,  6856,  6884,  7456,  8091,  8123,  8163,
         8762,  8957,  8963,  9329,  9501, 10121, 10432, 10867, 10948,
        11963, 12052, 12151, 13092, 13394, 13701, 14829, 14895, 14986,
        17408, 17521, 18101, 18968, 19316, 19924, 22425, 22537, 23509,
        23849, 24246, 24463, 24826, 25163, 25511, 26776, 27145, 27186,
        28071, 28098, 28184, 28335, 29005, 29780, 30224, 31338, 31451,
        32142, 32610], dtype=int64),)

In [90]:
train_data.loc[38,'sex']

-1.0

In [84]:
train_data['sex'] = [int(0) if value=='female' else value for value in train_data['sex'].tolist()]
train_data['sex'] = [int(1) if value=='male' else value for value in train_data['sex'].tolist()]
train_data['sex'] = [-int(1) if pd.isnull(value) else value for value in train_data['sex'].tolist()]

In [85]:
train_data['age_approx']  = [0 if pd.isnull(value) else value for value in train_data['age_approx'].tolist()]

In [86]:
mean, std = evaluate_mean_n_std([train_data['age_approx'].tolist()])
print(f"Mean : {mean}")
print(f"Std : {std}")

[DEBUG] 33126
Mean : 48.76969751856548
Std : 14.534666708494838

In [87]:
train_data['age_approx'] = get_standard_score([train_data['age_approx'].tolist()], mean, std)[0]

In [88]:
train_data

,image_name,patient_id,sex,age_approx,anatom_site_general_challenge,diagnosis,benign_malignant,target
0,ISIC_2637011,IP_7279968,1.0,-0.259359,head/neck,unknown,benign,0
1,ISIC_0015719,IP_3075186,0.0,-0.259359,upper extremity,unknown,benign,0
2,ISIC_0052212,IP_2842074,0.0,0.084646,lower extremity,nevus,benign,0
3,ISIC_0068279,IP_6890425,0.0,-0.259359,head/neck,unknown,benign,0
4,ISIC_0074268,IP_8723313,0.0,0.428651,upper extremity,unknown,benign,0
...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,1.0,0.084646,torso,unknown,benign,0
33122,ISIC_9999320,IP_3650745,1.0,1.116661,torso,unknown,benign,0
33123,ISIC_9999515,IP_2026598,1.0,-1.979385,lower extremity,unknown,benign,0
33124,ISIC_9999666,IP_7702038,1.0,0.084646,lower extremity,unknown,benign,0
33125,ISIC_9999806,IP_0046310,1.0,-0.259359,torso,nevus,benign,0

In [124]:
train_data = pd.read_csv("D:\\Coding_practice\\_Data\\SIIM-ISIC_data\\train_analysed.csv")

In [140]:
train_data.to_csv("D:\\Coding_practice\\_Data\\SIIM-ISIC_data\\train_analysed.csv", index=False)

In [126]:
onehot_data = pd.get_dummies(train_data['anatom_site_general_challenge'])
onehot_data

,head/neck,lower extremity,oral/genital,palms/soles,torso,upper extremity
0,1,0,0,0,0,0
1,0,0,0,0,0,1
2,0,1,0,0,0,0
3,1,0,0,0,0,0
4,0,0,0,0,0,1
...,...,...,...,...,...,...
33121,0,0,0,0,1,0
33122,0,0,0,0,1,0
33123,0,1,0,0,0,0
33124,0,1,0,0,0,0
33125,0,0,0,0,1,0

In [127]:
keep_columns = train_data.loc[:,"benign_malignant":]

keep_columns

train_data = train_data.drop(columns=["anatom_site_general_challenge", "diagnosis","benign_malignant","target"])

In [129]:
train_data = train_data.join(onehot_data)

In [130]:
train_data = train_data.join(keep_columns)

In [139]:
class_list = np.unique(train_data['benign_malignant']).tolist()
class_list

[0, 1]

In [136]:
train_data['benign_malignant'] = [class_list.index(value) for value in train_data['benign_malignant'].tolist()]

In [137]:
train_data

,image_name,patient_id,sex,age_approx,head/neck,lower extremity,oral/genital,palms/soles,torso,upper extremity,benign_malignant,target
0,ISIC_2637011,IP_7279968,1.0,-0.259359,1,0,0,0,0,0,0,0
1,ISIC_0015719,IP_3075186,0.0,-0.259359,0,0,0,0,0,1,0,0
2,ISIC_0052212,IP_2842074,0.0,0.084646,0,1,0,0,0,0,0,0
3,ISIC_0068279,IP_6890425,0.0,-0.259359,1,0,0,0,0,0,0,0
4,ISIC_0074268,IP_8723313,0.0,0.428651,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
33121,ISIC_9999134,IP_6526534,1.0,0.084646,0,0,0,0,1,0,0,0
33122,ISIC_9999320,IP_3650745,1.0,1.116661,0,0,0,0,1,0,0,0
33123,ISIC_9999515,IP_2026598,1.0,-1.979385,0,1,0,0,0,0,0,0
33124,ISIC_9999666,IP_7702038,1.0,0.084646,0,1,0,0,0,0,0,0
33125,ISIC_9999806,IP_0046310,1.0,-0.259359,0,0,0,0,1,0,0,0

In [148]:
test_data

,image_name,patient_id,sex,age_approx,head/neck,lower extremity,oral/genital,palms/soles,torso,upper extremity
0,ISIC_0052060,IP_3579794,1,1.460667,0,0,0,0,0,0
1,ISIC_0052349,IP_7782715,1,-0.603364,0,1,0,0,0,0
2,ISIC_0058510,IP_7960270,0,0.428651,0,0,0,0,1,0
3,ISIC_0073313,IP_6375035,0,0.084646,0,0,0,0,1,0
4,ISIC_0073502,IP_0589375,0,-0.259359,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
10977,ISIC_9992485,IP_4152479,1,-0.603364,0,0,0,0,1,0
10978,ISIC_9996992,IP_4890115,1,-0.947369,0,0,0,0,1,0
10979,ISIC_9997917,IP_2852390,1,-1.635380,0,0,0,0,0,1
10980,ISIC_9998234,IP_8861963,1,1.116661,0,1,0,0,0,0
10981,ISIC_9999302,IP_6214039,1,-1.291374,0,0,0,0,0,1

In [142]:
test_data['sex'] = [int(0) if value=='female' else value for value in test_data['sex'].tolist()]
test_data['sex'] = [int(1) if value=='male' else value for value in test_data['sex'].tolist()]
test_data['sex'] = [-int(1) if pd.isnull(value) else value for value in test_data['sex'].tolist()]

test_data['age_approx']  = [0 if pd.isnull(value) else value for value in test_data['age_approx'].tolist()]

In [144]:
test_data['age_approx'] = get_standard_score([test_data['age_approx'].tolist()], mean, std)[0]

In [146]:
onehot_data = pd.get_dummies(test_data['anatom_site_general_challenge'])
onehot_data
test_data = test_data.drop(columns=["anatom_site_general_challenge"])

In [147]:
test_data = test_data.join(onehot_data)

In [150]:
test_data.to_csv("D:\\Coding_practice\\_Data\\SIIM-ISIC_data\\test_analysed.csv", index=False)

In [151]:
test_data

,image_name,patient_id,sex,age_approx,head/neck,lower extremity,oral/genital,palms/soles,torso,upper extremity
0,ISIC_0052060,IP_3579794,1,1.460667,0,0,0,0,0,0
1,ISIC_0052349,IP_7782715,1,-0.603364,0,1,0,0,0,0
2,ISIC_0058510,IP_7960270,0,0.428651,0,0,0,0,1,0
3,ISIC_0073313,IP_6375035,0,0.084646,0,0,0,0,1,0
4,ISIC_0073502,IP_0589375,0,-0.259359,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
10977,ISIC_9992485,IP_4152479,1,-0.603364,0,0,0,0,1,0
10978,ISIC_9996992,IP_4890115,1,-0.947369,0,0,0,0,1,0
10979,ISIC_9997917,IP_2852390,1,-1.635380,0,0,0,0,0,1
10980,ISIC_9998234,IP_8861963,1,1.116661,0,1,0,0,0,0
10981,ISIC_9999302,IP_6214039,1,-1.291374,0,0,0,0,0,1